{% extends 'base.html' %}
{% block content %}
    <h2>Cadastro de Cursos</h2>
    <hr>
    <form action="{{url_for('perfil')}}", method="POST">
        <label>nome:</label>
        <input type="text" name="nome" required>
        <label>Horas:</label>
        <input type="text" name="horas" required>
        <label>professor:</label>
        <input type="text" name="professor" required>
        <input type="submit" value="Cadastrar">
    </form>
    <br>
    <hr>
    <h4>Cursos cadastrados:</h4>
    <table border="1">
        <tr>
            <th style="width: 100px;">nome:</th>
            <th style="width: 100px;">Horas:</th>
            <th style="width: 100px;">professor:</th>
        </tr>
        {% for cursos in cursosList %}
            <tr>
                <td>{{cursos.nome}}</td>
                <td>{{cursos.horas}}</td>
                <td>{{cursos.professor}}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}